extends layout

block content

		body.ng-scope(ng-app='peachApp')
			.content.animated.ng-scope(ng-view='')
				.container.ng-scope
					//Header 
					.header.clearfix
						.col-sm-6.col-xs-3
							.logo
								a(href='#')
									img.bigpeach(src='/images/94382040.Logo.png', alt='Peach')
								h3.text-primary.hidden-xs.headtitle
									a.headtitle(href='#') peach
						.col-sm-6.col-xs-9
							button.btn.btn-info.btn-sign-in.pull-right(btn-animate='', data-toggle='modal', data-target='#modalLogin')
								strong SIGN IN
							ul.more.pull-right.hide
								li.bg-primary.border-radius.pull-right
								li.bg-primary.border-radius.pull-right
								li.bg-primary.border-radius.pull-right
					// Header 
		.hero-cover-block.clearfix.ng-scope
			.hero-cover-bg
				.container
					.col-sm-12.content-hero
						.center-block.clearfix
							h1 Protect what you love
							h3 Warranty pricing and comparison on your terms
							a.btn.btn-info.fw-medium.start-btn(href='', btn-animate='', data-toggle='modal', data-target='#modalLogin') LET'S START

		.how-we-doit-block.block.fw-light.ng-scope
				.container
					.col-sm-12.text-center
						h3.fw-light.text-info How We Do It
						.step-1.steps.col-sm-5
							.image.center-block
								img.map-pic(src='images/fe6b9111.Server.png')
							p.text-justify.sum-text
								| We've built the most advanced warranty analytics platform comparing and summarizing hundreds of policies in seconds.
						.step-2.steps.col-sm-5.col-md-offset-1.col-sm-offset-1
							.image.center-block
								img.doc-pic(src='images/8ac91206.Options.png')
							p.text-justify.sum-text
								| We put them in “Plain English” so you can make "Peaches to Peaches" comparisons when buying Warranties.
		

		.about-block.block.ng-scope
			.container
				.center-block.col-sm-5.text-center
					.image
						img(src='images/4afaf004.Founders.png')
						h3.text-info.fw-light About The Team
						p.text-primary.text-justify.sum-text
							| We go to work to do two things: share passionate ideas about technology and make the world a little better. Co-founders, Luke and Mauricio are proud of the struggles they’ve overcome in life to become entrepreneurs. We exist that the powerful revolution goes on and that we may contribute a verse.
		

		.peach-block.block.ng-scope.portrait-frame
			.container
				.center-block.col-sm-6.text-center.border-bottom
					.col-sm-10.center-block
					.logo
						img.bottom-peach(src='images/94382040.Logo.png')
					h2.fw-normal.text-primary peach
					p.text-justify.sum-text
						| Peach is a startup disrupting the insurance market. Designed to give you transparency around your warranties choices so you can exactly get what you need at the right price.



		.press-block.block.ng-scope
			.container
				.col-sm-12.text-center
					p Supported by
					ul.logos
						li.sponsor
							a(href='http://www.techstars.com', target='_blank')
								img.techstar(src='images/ac38f1ff.Techstars.png', alt='Techstars')
						li.sponsor
							a(href='http://www.boomtownboulder.com', target='_blank')
								img.boom(src='images/6290e9ef.Boomtown.png', alt='Boomtown')
	
		footer.ng-scope
			.container
				.col-md-4.col-sm-3
					img.logo.footlogo(src='images/91d87d5d.Footer.png')
					h4.fw-normal peach
				.col-md-8.col-sm-9.menu-links
					a.col-sm-2.col-xs-12(href='#') LEGAL
					a.col-sm-2.col-xs-12(href='#') AGENTS
					a.col-sm-2.col-xs-12(href='#') JOIN US
					a.col-sm-2.col-xs-12(href='#') PRESS
					a.col-sm-2.col-xs-12(href='#') CONTACT


		#modalLogin.modal.fade.ng-scope(tabindex='-1', role='dialog')
			.modal-dialog.animated.bounceOutDown(ng-class='{\'animated bounceInDown\':modalEffect, \'animated bounceOutDown\' : !modalEffect}')
				.modal-content
					.modal-body.border-radius.clearfix
						
						.modal-header
							.logo
								img.minipeach(src='images/9b2a0793.Mini.png')

						.modal-form-block(ng-hide='formSuccess')
							.text-center
								h3
									strong Launching Soon
								p.text-primary Notify me when it’s ready.
							.center-block.col-sm-8.form-group
								form.form-horizontal.form-subscribe.ng-pristine.ng-invalid.ng-invalid-required(action="/emailSubmission", method="post")
									.form-group.has-feedback
										.col-sm-12
											span.glyphicon.glyphicon-envelope.form-control-feedback.envel
											input.form-control.ng-pristine.ng-invalid.ng-invalid-required.ng-valid-email(type='email', name='email', ng-model='email', placeholder='your@email.com', required='')
										.col-sm-12
											.col-sm-12
												button.btn.btn-info.btn-lg.m-button
													strong Submit
				
					





								


