extends layout

block content

		.container
			h1 Welcome to MaidaMilkin.com!
			p We are happy you're here. The site is currently under construction.

			img(src="http://worldbreastfeedingweek.org/images/wbw2014-logo3.png" class="image-responsive" width=225 height=200)

			
			h3 Happy world breastfeeding week 2014!