doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title PeachMe
		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
		link(rel='stylesheet' href='/stylesheets/style.css')

	body
		block content
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
		script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.5/js/bootstrap-modalmanager.min.js")
		script(type="text/javascript", src="javascripts/main.js")