.header{
	height: 80px;
}

.peach{
	height: 38px;
	width: 38px;
	display: inline-block;
	margin-left: 31px;
}

.headtitle{
	display: inline-block;
	margin-left: 25px;
	/*color: #A8A8A8;*/
}
.headtitle,a{
	color: #A8A8A8;
}

.btn-sign-in{
	background-color: white;
	color: #0099FF;
	height: 40px;
	width: 90px;
	border-radius: 1px;
	margin-top: 20px;
	margin-right: 36px;
	border-radius: 5px;
	border-color: #0099FF;
}

.btn-sign-in:hover{
	background: none;
	color:#0099FF;
	/*border-radius: 5px;*/
	border-color: blue;

}

.hero-cover-bg{
	background: url('/images/bkgrd.png');
	height:478px;
}

.center-block,h1{
	padding-top: 75px;
	padding-left: 20px;
	font-size: 48px;
	font-weight: 400;
}

.center-block,h3{
	padding-left: 20px;
	font-size: 24px;
	font-weight:300;

}

.start-btn{
	margin-left: 20px;
	margin-top: 20px;
	height: 60px;
	font-size: 16px;
	padding: 17px;
	width: 190px;
	background-color: #3f87ff;
	border-color: #2577ff;
}

.start-btn:hover{
	background-color: #0c67ff;
	border-color: #0057e7;
}
.map-pic{
	width: 160px;
	height: 80px;
}

.doc-pic{
	width: 160px;
	height: 118px;
}
